
  $header-color: red;
  $second-header-color: orange;
  
  header {
    text-align: center;
  }

  .blog-post {
  	h2 {
  		color: $header-color;
  	}
    h3 {
    	font-size: 20px;
    	color: $second-header-color;
    }
  }
  
  @mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
    }

  div {
    @include border-radius(80px);
  }

  #sun {
    width: 150px;
    height: 150px;
    background-color: gold;
  }